#body-1{
/*  background: linear-gradient(135deg, #b6cf51, #400973);  */
  background: linear-gradient(135deg, #6a11cb, #174391); 
  color: #FFFFFF;
  line-height: 1.6;
  padding: 2%;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

#body-2{
  background: linear-gradient(135deg, #3a0d91, #0d1b3a); 
  color: #FFFFFF;
  line-height: 1.6;
  padding: 2%;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

#body-3{
  background: linear-gradient(135deg, #9b6cfb, #4a91f1); 
  color: #FFFFFF;
  line-height: 1.6;
  padding: 2%;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

#important{
    /* box-shadow: 5px 5px 10px gray; */
    /*mała notatka ode mnie: na początku tworzenia projektu pamiętałem jak się nazywał margines wewnętrzy ale zapomniałem wewnętrznego a teraz sobie przypomniałem jak się robi wewnętrzne a zapomniałem zewnętrze i podczas pisania tego przypomniałem sobie xDDD. margin i padding
    dochodzę do wniosku że muszę zacząć dbać lepiej o moją pamięć */
    margin-top: 10%;
    display: flex;
    justify-content: center;  
    align-items: center ;
    font-size: 48px;
    width: 100%;
}
#form,#form2{
  margin-top: 5%;
    display: flex;
    justify-content: center; 
    font-size: 24px;
    align-items: center ;
}
label, input{
  margin: 0.5%;
}

button{
  display: flex;
    justify-content: center;  
    align-items: center ;
    font-size: 28px;
    float: left;
    padding: 1% 2%;
    background-color: #4c74af; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #455ca0; 
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
  text-align: center; /* może zostać zmienione */
  width: 80%;
  font-size: 18px; 
  font-family: Arial, sans-serif; 
}
#photo-l, #photo-r{
  float: left;
  margin: 2%;
  height: auto;
  width: 100%;
  filter: blur(5px);
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

#photo-l:hover, #photo-r:hover{
  filter: blur(0);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#tekst-l{
  float: left;
  margin: 2%;
}
#tekst-r{
  float: right;
  margin: 2%;
}

#block-l {
  float: left;
  width: 45%;
  margin: 2.5%;
}

#block-r {
  float: right;
  width: 45%;
  margin: 2.5%;
}
br{
  clear: both;
  
}